* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  font-family: "Nunito", sans-serif;
  background-color: rgb(55, 47, 47);
}
#header {
  background-color: #9f3647;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 1000; /* Z-index alto para asegurarse de que el header esté encima de las imágenes */
}
span,
h1,
h2 {
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  padding: 1.5rem 0;
}
.lista-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  list-style: none;
  gap: 20px;
  /* Agregar efecto de botón presionado */
  transition: transform 0.3s, box-shadow 0.3s;
}
.logoNav:hover,
.lista-nav:hover {
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #ce5065;
}
.logoNav {
  transition: transform 0.3s, box-shadow 0.3s;
}
.logo {
  width: 20px;
  height: 15px;
}
/*Index.html*/

#img {
  width: 100%;
  height: 600px;
}
.banner {
  display: block;
  text-align: center;
}
.background {
  background: linear-gradient(to right top, #0a0a0a8a, #3733338a),
    url("img/man-watching.jpg");
  background-size: cover; /* Para ajustar la imagen al tamaño del contenedor */
  background-position: center; /* Para centrar la imagen */
  background-repeat: no-repeat;
  height: 90vh;
}
.background-titulo {
  padding-top: 20px;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 30px;
}
.section-form {
  display: inline-block;
  text-align: center;
}
.subtitulo-form {
  margin-bottom: 40px;
}

.registrate,
.boton-anterior,
.boton-siguiente {
  background-color: #9f3647;
  font-size: 1.4rem;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
  /* Agregar efecto de botón presionado */
  transition: transform 0.3s, box-shadow 0.3s;
}
.busca:hover,
.registrate:hover,
.boton-anterior:hover,
.boton-siguiente:hover {
  background-color: #9f3647;
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

hr {
  margin-top: 80px;
  border: 1px solid #9f3647;
  margin-left: 80px;
  margin-right: 80px;
}
.input {
  background-color: rgb(246, 242, 235);
}
.busca {
  background-color: #9f3647;
  color: rgb(249, 245, 245);
  font-size: 1.1rem;
  border-radius: 25px;
  padding: 10px;
}
.section {
  display: flex;
  flex-direction: column;
}
#contenedor-api {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  margin: 40px 80px;
  padding: 10px;
}

.contenedor .pelicula {
  text-align: center;
}

.contenedor-api .pelicula .titulo {
  font-size: 16px;
  font-weight: 600;
}

.contenedor-api .pelicula .poster {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 15px;
}

.paginacion {
  position: fixed;
  bottom: 0;
  background: #100a1f;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 60px;
  margin: 40px 80px;
}
.card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.card:hover {
  box-shadow: 0 0 40px rgba(159, 54, 72, 0.8);
  transform: scale(0.9);
}
.pelicula-api,
.pelicula {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  opacity: 1;
}
.scroll-reveal-img {
  max-width: 100%;
  position: relative;
  z-index: 0; /* Z-index menor que el header para que las imágenes pasen detrás */
}
.titulo-pelicula {
  z-index: 2;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  max-width: 15rem;
  width: 100%;
  transform: translateY(-50%) translateX(-50%);
  filter: blur(5px);
  opacity: 0;
  transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.titulo-pelicula:hover {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(0);
  opacity: 1;
}
h4 {
  font-size: 1.6rem;
  font-weight: bold;
  opacity: 0;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
  transition: opacity 0.5s ease-in-out;
}
h4:hover {
  width: 100%;
  padding: 0.5rem;
  opacity: 1;
}
.boton-anterior,
.boton-siguiente {
  color: white;
  border: solid 1px white;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.peliculas-aclamadas {
  margin-bottom: 60px;
}
.scroll-container {
  overflow-x: auto; /* Habilita el scroll horizontal */
  width: 100%; /* Ajusta el ancho del contenedor */
  white-space: nowrap; /* Evita que las imágenes se envuelvan a una nueva línea */
  padding: 50px;
}
/* Estilos para la barra de scroll */
.scroll-container::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de scroll */
  background-color: rgb(55, 47, 47);
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #9f3647;
  border-radius: 10px; /* Bordes redondeados para la barra de scroll */
}
.cards-dos {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin: 40px 30px;
}

/*Registrarse*/
.header {
  margin-left: 20px;
}
.popkorn {
  background-image: url("img/popkorn.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover; /* Para ajustar la imagen al tamaño del contenedor */
  background-position: center; /* Para centrar la imagen */
  background-repeat: no-repeat;
}
.registrarse form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  gap: 10px;
  max-width: 400px;
  height: 88vh;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 10px;
}

label {
  color: rgb(198, 195, 195);
}

.linea-borde {
  border: 1px solid;
}
.titulo {
  font-weight: bold;
  text-align: center;
}

.registro {
  width: 200px;
  height: 25px;
  padding: 0px 10px;
  font-size: 0.8rem;
  border-radius: 20px;

  background-color: #59141e;
  outline: none;
  color: rgb(173, 168, 168);
}
.date {
  color: rgb(173, 168, 168);
}
.error .error-text {
  color: red;
  font-size: 12px;
  display: block;
}

.error input,
.error select {
  border-color: red;
}
/*INICIAR SESION*/
.iniciar-sesion {
  color: rgb(173, 168, 168);
  font-size: 0.9rem;
}
/*FOOTER*/
#footer {
  background-color: #9f3647;
}

